body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 400px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.home-button {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #007B9A;
}
.forgot-password-button {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
    transition: color 0.2s;
}

.forgot-password-button:hover {
    color: #0056b3;
}