<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div id="chat"></div>
    <form id="messageForm">
        <input type="text" id="messageInput">
        <button type="submit">Enviar</button>
        </form>
        <button id="deleteAccount">Eliminar cuenta</button>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            socket.on('message', function(data) {
                var chat = document.getElementById('chat');
                var message = document.createElement('p');
                message.textContent = data.text;
                message.style.backgroundColor = data.color;
                chat.appendChild(message);
            });
            document.getElementById('messageForm').addEventListener('submit', function(e) {
                e.preventDefault();
                var messageInput = document.getElementById('messageInput');
                socket.emit('message', messageInput.value);
                messageInput.value = '';
            });
        
            // Manejador para el botón de eliminación de cuenta
            document.getElementById('deleteAccount').addEventListener('click', function(e) {
                if (confirm('¿Estás seguro de que quieres eliminar tu cuenta? Esta acción no se puede deshacer.')) {
                    fetch('/eliminar_cuenta', {method: 'POST'})
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error al eliminar la cuenta');
                            }
                            return response.text();
                        })
                        .then(() => {
                            window.location.href = '/iniciar_sesion';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
        </script>
        <a href="{{ url_for('cerrar_sesion') }}" class="cerrar-sesion">Cerrar sesión</a>  
        </body>
        </html>