<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global_styles.css') }}">


</head>
<body>
    <h1>Bienvenido</h1>
    <div class="dropdown">
        <button class="dropbtn">Menú</button>
        <div class="dropdown-content">
            <!-- Añade más opciones aquí -->
        </div>
    </div>
    <a href="{{ url_for('iniciar_sesion') }}">Iniciar sesión</a>
    <a href="{{ url_for('crear_cuenta') }}">Crear cuenta</a>
</body>
</html>
