<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_styles.css') }}">

    <title>Iniciar sesión</title>
</head>
<body>
    <h1>Iniciar sesión</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('iniciar_sesion') }}" method="post">
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
    </form>
    <a href="{{ url_for('solicitar_recuperacion') }}" class="forgot-password-button">¿Has olvidado tu contraseña?</a>
    <a href="{{ url_for('index') }}" class="home-button">Ir a inicio</a>

</body>
</html>
