<!DOCTYPE html>
<html>
<head>
    <title>Verificación de correo electrónico</title>
</head>
<body>
    <form method="POST">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Verificar">
    </form>
</body>
</html>
<!--archivo creado para hacer la doble verificacion con correo, despues de iniciar sesion si 
es correcto las credenciales, el usuario que tenga activado esta opcion siempre le llegara un correo
con un link despues de las credenciales, al entrar en el link podra iniciar sesion-->